/****************************************************************************************
// RESETS
****************************************************************************************/
.root{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.button{
    -fx-cursor: hand;
}
.label{
    /* Set font here */
}
.background{
    -fx-background-color: #FAFAFA;
}
.container{
    -fx-padding: 10px;
    -fx-background-color: transparent;
}

/****************************************************************************************
// Color Sets
* -fx-color-DarkBlue: #1565C0;
* -fx-color-LightBlue: #82B1FF;
# -fx-color-GreyBlue: #455A64;

* -fx-color-White: #FFFFFF;
* -fx-color-Grey: #FAFAFA;
* -fx-color-LightGrey: #BDBDBD;
****************************************************************************************/

/****************************************************************************************
// BUTTON STYLES
****************************************************************************************/

/***** Cancel Buttons *****/

.btn-cancel-important{
    -fx-background-color: red;
}
.btn-cancel-minor{
    -fx-background-color: transparent;
}
.btn-cancel-minor: hover {
    -fx-text-fill: red;
}

/***** Submit/Add Buttons *****/
.btn-add{

}
.btn-accept{

}
/***** Preview/Back Buttons *****/
.btn-change-screen{

}
/****************************************************************************************
// TEXT FIELD STYLES
****************************************************************************************/
.text-field{
    -fx-background-color: rgba(0,0,0,0.1);
}

/****************************************************************************************
// LIST VIEW STYLES
****************************************************************************************/