
/****************************************************************************************
    -fx-padding: 10px;
    -fx-background-color: transparent;
// Color Sets

Purple 1: #131025
Purple 2: #5351A9
Purple 3: #322E61

Purple Lettering: #6157AC


* -fx-color-DarkBlue: #1565C0;
* -fx-color-LightBlue: #82B1FF;
# -fx-color-GreyBlue: #455A64;

* -fx-color-White: #FFFFFF;
* -fx-color-Grey: #FAFAFA;
* -fx-color-LightGrey: #BDBDBD;
****************************************************************************************/


/****************************************************************************************
// RESETS
****************************************************************************************/
.root{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}
.header{
    -fx-padding: 10 10 10 10;
}
.body{
    -fx-padding: 0 10 0 10;
}
.footer{
    -fx-padding: 0 0 0 0;
}
.button{
    -fx-cursor: hand;
}
.label{
    /* Set font here */
}
.background{
    -fx-background-color: #131025;
}
.container{
    -fx-background-color: #131025;
}

.selectedStack{
    -fx-effect: dropshadow(three-pass-box, #322E61, 10, 0, 0, 0);
}
.lbHintText{
    -fx-text-size: 10px;
    -fx-text-fill: #E4EAED;
}
.HBox{
    -fx-spacing: 10px;
}
.VBox{
    -fx-spacing: 10px;
}
.text-field{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
.text-area{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
.outlabels{
    -fx-text-fill: white;
}
.title_1{
    -fx-font-size: 20px;
}
.title_2{
    -fx-font-size: 15px;
}
.title_3{
    -fx-font-size: 10px;
}
.stackSelected_indication{
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-background-color: #322E61;
    -fx-border-radius: 100 100 100 100;
    -fx-background-radius: 100 100 100 100;
}
.stackSelected_indication .label{
    -fx-text-fill: white;
}
.stack{
    -fx-background-color: white;
    -fx-padding: 10px;
}
.card{
    -fx-background-color: white;
    -fx-padding: 10px;
}
.card: hover{
    -fx-cursor: hand;
}
.stack: hover{
    -fx-cursor: hand;
}
.card_title_1{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #6157AC;
}
.card_title_2{
    -fx-font-size: 14px;
    -fx-font-weight: lighter;
    -fx-text-fill: #000000;
}
.card_title_3{
    -fx-font-size: 12px;
    -fx-text-fill: #BDBDBD;
}
.toast{
    -fx-background-color: #5351A9;
}
.toast .label{
    -fx-text-fill: White;
    -fx-font-size: 16px;
    -fx-padding: 5 0 5 0;
}
.btnFav{
    -fx-background-color: transparent;
    -fx-border-color: #6157AC;
    -fx-text-fill: #6157AC;
    -fx-font-size: 14px;
}
.btnFav: hover{
    -fx-text-fill: white;
    -fx-border-color: #322E61;
    -fx-background-color: #322E61;
}
.btnFav: pressed{
    -fx-text-fill: white;
    -fx-background-color: #5351A9;
}

.btnDefault{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: White;
    -fx-font-size: 16px;
}
.btnDefault .label{
    -fx-text-fill: White;
    -fx-font-size: 16px;
}
.btnDefault: hover{
    -fx-cursor: hand;
    -fx-background-color: #322E61;
}
.btnDefault: pressed{
    -fx-background-color: #5351A9;
}
.vbContainer{
 -fx-spacing: 5;
}