
/****************************************************************************************
// Color Sets
Purple 1: #131025
Purple 2: #5351A9
Purple 3: #322E61

Purple Lettering: #6157AC

* -fx-color-LightGrey: #BDBDBD;
****************************************************************************************/

/******************************************************************************
************ Defaults
*******************************************************************************/
.root{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}
.header{
    -fx-padding: 10 10 10 10;
}
.body{
    -fx-padding: 0 10 0 10;
}
.button{
    -fx-cursor: hand;
}

/******************************************************************************
************ Container Styles
*******************************************************************************/
.background{
    -fx-background-color: #131025;
}
.container{
    -fx-background-color: #131025;
}

.vbContainer{
 -fx-spacing: 5;
}
.hbContainer{
    -fx-spacing: 5;
}
.HBox{
    -fx-spacing: 10px;
}
.VBox{
    -fx-spacing: 10px;
}

/******************************************************************************
************ Text Area/Field Styles
*******************************************************************************/
.text-field{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
.text-area{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
/******************************************************************************
************ Slider Style
*******************************************************************************/
 .slider .track{
    -fx-background-color: white;
    -fx-text-fill: white;
 }
 .slider{
    -fx-tick-mark-fill: white;
    -fx-tick-text-fill: white;
   }

 .slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
     -fx-fill: null;
     -fx-stroke: white;
 }
/******************************************************************************
************ Radio Button Style
*******************************************************************************/
.radio-button .radio{
    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-background-color: transparent;
    -fx-background-image: null;
    -fx-border-radius: 15px;
}
.radio-button .radio:selected{
    -fx-background-color : transparent ;
    -fx-background-image : null  ;
}
.radio-button:selected .dot {
  -fx-mark-highlight-color: white ;
  -fx-mark-color: white;
}
.radio-button{
    -fx-text-fill: white;
}
/******************************************************************************
************ Label Settings
*******************************************************************************/
.lbHintText{
    -fx-text-size: 10px;
    -fx-text-fill: #E4EAED;
}
.outlabels{
    -fx-text-fill: white;
}
.title_1{
    -fx-font-size: 20px;
}
.title_2{
    -fx-font-size: 15px;
}
.title_3{
    -fx-font-size: 10px;
}
.stackSelected_indication{
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-background-color: #322E61;
    -fx-border-radius: 100 100 100 100;
    -fx-background-radius: 100 100 100 100;
}

/******************************************************************************
************ Stack/Card Styles
*******************************************************************************/
.stack{
    -fx-background-color: white;
    -fx-padding: 10px;
}
.card .hbox{
    -fx-spacing: 10px;
}
.card{
    -fx-background-color: white;
    -fx-padding: 10px;
}
.card: hover{
    -fx-cursor: hand;
}
.stack: hover{
    -fx-cursor: hand;
}
/******************************** Stack/Card Labels *************************************/
.card_title_1{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #6157AC;
}
.card_title_2{
    -fx-font-size: 14px;
    -fx-font-weight: lighter;
    -fx-text-fill: #000000;
}
.card_title_3{
    -fx-font-size: 12px;
    -fx-text-fill: #BDBDBD;
}
/******************************************************************************
************ Button Styles
*******************************************************************************/
.btnFav{
    -fx-background-color: transparent;
    -fx-border-color: #6157AC;
    -fx-text-fill: #6157AC;
    -fx-font-size: 14px;
}
.btnFav: hover{
    -fx-text-fill: white;
    -fx-border-color: #322E61;
    -fx-background-color: #322E61;
}
.btnFav: pressed{
    -fx-text-fill: white;
    -fx-background-color: #5351A9;
}

.btnDefault{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: White;
    -fx-font-size: 14px;
}
.btnDefault .label{
    -fx-text-fill: White;
    -fx-font-size: 14px;
}
.btnDefault: hover{
    -fx-cursor: hand;
    -fx-background-color: #322E61;
}
.btnDefault: pressed{
    -fx-background-color: #5351A9;
}

/******************************************************************************
************ Stack Editor Styles
*******************************************************************************/
.draggedCard{
    -fx-border-color: #5351A9;
}
.selectedCard{
    -fx-border-color: #5351A9;
}

.selectedStack{
    -fx-effect: dropshadow(three-pass-box, #322E61, 10, 0, 0, 0);
}
.stackSelected_indication .label{
    -fx-text-fill: white;
}
/******************************************************************************
************ Toast Styles
*******************************************************************************/
.toast{
    -fx-background-color: #5351A9;
}
.toast .label{
    -fx-text-fill: White;
    -fx-font-size: 16px;
    -fx-padding: 5 0 5 0;
}