
/****************************************************************************************
// Color Sets
Purple 1: #131025
Purple 2: #5351A9
Purple 3: #322E61

Purple Lettering: #6157AC

* -fx-color-LightGrey: #BDBDBD;
****************************************************************************************/

/******************************************************************************
************ Defaults
*******************************************************************************/
.root{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}
.header{
    -fx-padding: 10;
}
.body{
    -fx-padding: 10;
}
.footer{
    -fx-padding: 10;
}
.button{
    -fx-cursor: hand;
}

/******************************************************************************
************ Container Styles
*******************************************************************************/
.background{
    -fx-background-color: #131025;
}
.container{
    -fx-background-color: #131025;
}

.vbContainer{
 -fx-spacing: 5;
}
.hbContainer{
    -fx-spacing: 5;
}
.HBox{
    -fx-spacing: 10px;
}
.VBox{
    -fx-spacing: 10px;
}

/******************************************************************************
************ Text Area/Field Styles
*******************************************************************************/
.text-field{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
.text-area{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
/******************************************************************************
************ Slider Style
*******************************************************************************/
.scroll-pane > .viewport {
   -fx-background-color: #30333A;
   -fx-border-width: 0;
   -fx-border-color: transparent;
}
.scroll-bar{
	-fx-border-color: transparent;
}
.scroll-bar:focused{
	-fx-border-color: #30333A;
}
.scroll-bar:vertical{
    -fx-width: 0.7em;
    -fx-background-color:transparent;
 	-fx-radius: 0em;

}
.scroll-bar:vertical .thumb {
     -fx-background-color: transparent;
     -fx-border-color: white;
     -fx-border-width: .1em;
 	-fx-background-insets: 0, 0, 0;
 }

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
	-fx-width: 0;
	-fx-height: 0;
    -fx-background-color: transparent;
}
/******************************************************************************
************ Radio Button Style
*******************************************************************************/
.radio-button: hover{
    -fx-cursor: hand;
}
.radio-button .radio{
    -fx-border-width: .1em;
    -fx-border-color: white;
    -fx-background-color: transparent;
    -fx-background-image: null;
    -fx-border-radius: 1em;
}
.radio-button .radio:selected{
    -fx-background-color : transparent ;
    -fx-background-image : null  ;
}
.radio-button:selected .dot {
  -fx-mark-highlight-color: white ;
  -fx-mark-color: white;
}
.radio-button{
    -fx-text-fill: white;
}
/******************************************************************************
************ Label Settings
*******************************************************************************/
.lbHintText{
    -fx-text-size: 0.4em;
    -fx-text-fill: #E4EAED;
}
.labels_OnBackground{
    -fx-text-fill: white;
}
.title_1{
    -fx-font-size: 2em;
    -fx-font-family: Verdeana;
    -fx-font-weight: bold;
}
.title_2{
    -fx-font-size:1em;
}
.title_3{
    -fx-font-size: 0.8em;
}
/******************************************************************************
************ Stack/Card Styles
*******************************************************************************/
.stack{
    -fx-background-color: white;
    -fx-padding: .5em;
}
.card .hbox{
    -fx-spacing: .5em;
}
.card{
    -fx-background-color: white;
    -fx-padding: .5em;
}
.card: hover{
    -fx-cursor: hand;
}
.stack: hover{
    -fx-cursor: hand;
}
/******************************** Stack/Card Labels *************************************/
.card_title_1{
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-text-fill: #6157AC;
}
.card_title_2{
    -fx-font-size: 1em;
    -fx-font-weight: lighter;
    -fx-text-fill: #000000;
}
.card_title_3{
    -fx-font-size: .8em;
    -fx-text-fill: #BDBDBD;
}
/******************************************************************************
************ Button Styles
*******************************************************************************/
.btnFav{
    -fx-background-color: transparent;
    -fx-border-color: #6157AC;
    -fx-text-fill: #6157AC;
    -fx-font-size: 1em;
}
.btnFav: hover{
    -fx-text-fill: white;
    -fx-border-color: #322E61;
    -fx-background-color: #322E61;
}
.btnFav: pressed{
    -fx-text-fill: white;
    -fx-background-color: #5351A9;
}

.btnDefault{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: White;
    -fx-font-size: 1em;
}
.btnDefault .label{
    -fx-text-fill: White;
    -fx-font-size: 1em;
}
.btnDefault: hover{
    -fx-cursor: hand;
    -fx-background-color: #322E61;
}
.btnDefault: pressed{
    -fx-background-color: #5351A9;
}

/******************************************************************************
************ Stack Editor Styles
*******************************************************************************/
.draggedCard{
    -fx-border-color: #5351A9;
}
.selectedCard{
    -fx-border-color: #5351A9;
}

.selectedStack{
    -fx-effect: dropshadow(three-pass-box, #322E61, 10, 0, 0, 0);
}

.stackSelected_indication{
    -fx-padding: .4em;
    -fx-background-color: transparent;
    -fx-border-color: #322E61;
    -fx-border-width: 0 2 0 0;
}
.stackSelected_indication .label{
    -fx-text-fill: #322E61;
}
/******************************************************************************
************ Toast Styles
*******************************************************************************/
.toast{
    -fx-background-color: #5351A9;
}
.toast .label{
    -fx-text-fill: White;
    -fx-font-size: 1em;
    -fx-padding: 5 0 5 0;
}
/******************************************************************************
************ Installer Styles
*******************************************************************************/
#lv_FilesAndDirectories{
    -fx-background-color: transparent;
}